.head-img {
    max-width: 100%;
    /* object-fit: cover; */
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.h1 {
    color: green;
    letter-spacing: 8px;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}

.h1::after {

    content: "";
    display: block;
    position: absolute;
    width: 365px;
    height: 3px;
    background: green;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
}

.h1:hover::after {
    transform: scale(1);
}